body {
  background: white;
  overflow: hidden;
}

.buttons {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

@font-face {
  font-family: 'icomoon';
  src:url('assets/font/icomoon.eot?-cu98hc');
  src:url('assets/font/icomoon.eot?#iefix-cu98hc') format('embedded-opentype'),
    url('assets/font/icomoon.woff?-cu98hc') format('woff'),
    url('assets/font/icomoon.ttf?-cu98hc') format('truetype'),
    url('assets/font/icomoon.svg?-cu98hc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon, .icon:active {
  font-family: 'icomoon';
  cursor: pointer;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 200%;
  text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  display: inline-block;
  padding: 0px 5px;
  margin: 0;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  opacity: 1.0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icon:hover {
  text-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.15);
  opacity: 1.0;
}


@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.icon.spinner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1.0;
  margin: auto;
  cursor: auto;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


.icon.reload:before {
  content: "\e984";
}

.icon.spinner:before {
  content: "\e981";
}

.icon.right:before {
  content: "\ea42";
}

.icon.left:before {
  content: "\ea44";
}